<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.scirra.kiwistory" version="1.0.0.0" android-versionCode="1000000" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>KiwiStory</name>
	<description>Demo platform game for Construct 3.</description>
	<author>Tokinsom &amp; 7soul</author>

	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-navigation href="blob:*" />

	<icon src="www/icons/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icons/icon-128.png" width="128" height="128" density="xhdpi" />
	<icon src="www/icons/icon-114.png" width="114" height="114" />
	<icon src="www/icons/icon-32.png" width="32" height="32" />
	<icon src="www/icons/icon-16.png" width="16" height="16" />

	<plugin name="cordova-plugin-inappbrowser" >
	</plugin>
	<plugin name="cordova-plugin-whitelist" >
	</plugin>
	<plugin name="cordova-plugin-file" >
	</plugin>
	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="LoadUrlTimeoutValue" value="120000" />
	<access origin="*" />

	<engine name="android" />

	<platform name="android">
		<splash src="www/icons/default@2x~universal~anyany.png" />
		<preference name="android-minSdkVersion" value="21" />
		<preference name="android-targetSdkVersion" value="28" />
	</platform>

	<preference name="phonegap-version" value="cli-8.0.0" /></widget>